body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(107, 41, 41);
}

.counter {
    display: flex;
    background-color: black;
    justify-content: space-between;
    color: white;
    width: 380px;
    font-size: 50px;
    border-radius: 10px;
}

.counter div {
    background-color: rgb(66, 60, 60);
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
}
